.services {
  padding: 110px 0 98px 0;
  background-color: #efefef;
}
.container {
}
.our {
text-align: center;
}
.our_services {
  margin: 83px 0 75px 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.our_services li {
  max-width: 367px;
  width: 100%;
  margin-right: 67px;
}
.our_services li:nth-child(3n) {
  margin: 0;
}
.our_services li:not(:nth-child(-n+3)) {
margin-top: 62px;
}
.service {
  margin: 35px 0;
  font-size: 20px;
  line-height: 24px;
}
.facebook {
  color: #275fe0;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  padding-bottom: 1px;
  line-height: 25px;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 212px;

}
.facebook:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #275fe0;
}
